<script defer src="/js/signup.js"></script>

<br />
<form name="signupForm">
	<input name="name" placeholder="введите имя" required>
	<input type="email" name="email" placeholder="введите электронную почту" required>
	<input type="password" name="password" placeholder="введите пароль" required>
	<button class="btn btn-info">зарегистрироваться</button>
</form>

{{#if users}}
<div class="users">
  {{#each users}}
  <div class="user">
    <a href="/users/{{id}}">
      <h5>{{name}}</h5>
      <h4>{{age}}</h4>
    </a>  
    <hr />
    <button id={{id}} class="btn btn-primary">Удалить</button>
  </div>
  {{/each}}
</div>
{{else}}
  <h3>Пользователей нет :(</h3>
{{/if}}
