{{#each entries}}
<div class="card" style="width: 18rem;">

  <img src="/uploads/{{Images}}" class="card-img-top" alt="...">
  
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{type}}</p>
     <p class="card-text">{{body}}</p>
    <a href="/entry/{{id}}" class="btn btn-primary">Подробнее</a>    
  </div>
</div>
{{/each}}
