{{#unless entry}}
<p>Нет такой записи</p>
{{/unless}}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/uploads/{{first.image}}" class="d-block w-100" alt="...">
    </div>
    {{#each images}}
     <div class="carousel-item">
      <img src="/uploads/{{image}}" class="d-block w-100" alt="...">
    </div>
   {{/each}} 
  </div>
</div>
 

  

<h1>{{entry.title}}</h1>

<div class="main-header"><p>{{entry.body}}</p>
<p>Комнаты  {{entry.rooms}}</p>
<p>Местоположение  {{entry.geo}}</p>
<p>Тип   {{entry.type}}</p>
</div>

{{!-- {{#each images}}
<img src="/uploads/{{image}}" alt="hz"/>

{{/each}} --}}
{{#if isAuthor}}
<ul id="editAndDeleteUl" class="no-bullets no-padding mar-t-2">
  <li class="pipe-separate left">
    <a href="/entries/{{ entry.id }}/edit" class="c-white">edit</a>
  </li>

  <li class="pipe-separate left">
    <button id="deleteEntryButton" data-entryid="{{entry.id}}" value="delete"
      class="no-border no-outline no-bg c-white hover-underline">delete</button>
  </li>
</ul>
{{/if}}
